@model IEnumerable<FjResponses>;
@{
    ViewBag.Title = "Create";
    Layout = "_WorkerLayout";
}
@foreach (var response in Model)
{
<div>
    <span>@response.FjResponsesTypes.ToRussianString() от</span>
    <a asp-action="Vacancy" asp-route-vacancyId="@response.Vacancy.Id">@response.Vacancy.Post</a>    
    на резюме
    <a asp-action="Create" asp-route-resumeId="@response.Resume.Id">@response.Resume.Post</a>
</div>
}