@model IEnumerable<Resume>
@{ 
    ViewBag.Title = "Resumes";
    Layout = "_WorkerLayout";
}
@foreach (var resume in Model.OrderBy(r => !r.IsMain))
{
<div>
    @if (resume.IsMain)
    {
        <div><b>Основное</b></div>
    }
    <a asp-action="Create" asp-route-resumeId="@resume.Id">@resume.Post</a>
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-resumeId="@resume.Id">Удалить</a>
    <a class="btn btn-outline-success" asp-action="MakeMain" asp-route-resumeId="@resume.Id">Сделать основным</a>
    <div>
        @resume.Info
    </div>

</div>
}